{% extends 'layout.html.twig' %}

{% block header_title %}
    <h1 id="category-create">Add a new category</h1>
{% endblock %}

{% block container %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="w-50">
            {{ form_start(form, {'action' : path('category_create')}) }}
                {{ form_widget(form) }}
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success me-5">
                        <i class="bi bi-plus-circle-fill"></i> Create
                    </button>
                    <a href="{{ path('category_list') }}" class="btn btn-primary">
                        <i class="bi bi-arrow-left-circle-fill"></i> Back to category list
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}