{% extends 'layout.html.twig' %}

{% block container %}
    {% block header_title %}
        <h1 class="d-flex justify-content-center my-5 text-light">Modify artist</h1>
    {% endblock %}

    <div class="d-flex justify-content-center align-items-center text-light">
        <div class="w-50">
            {{ form_start(form, {'action' : path('artist_edit', { 'id' : artist.id })}) }}
                {{ form_widget(form) }}
                <p>(*) Required</p>
                <div class="d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success me-5">Modify</button>
                    <a href="{{ path('artist_list') }}" class="btn btn-primary">Back to artist list</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}