// ========== artist & category/list ==========
/* 
    Manage Add & Back to post buttons display
*/
.manage-array-btn {
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

// ========== artist/show ==========
/* 
    Manage Back to artists & Edit & Delete buttons display
*/
.show-artist-btn {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
}