{# templates/post/create.html.twig #}

{% extends 'layout.html.twig' %}

{% block header_title %}
    <h1>Create a new post</h1>
{% endblock %}

{% block container %}
    <div class="create-post">
        <div class="text-light text-center mb-5">
            <p>You need to at least add one image or video to create a post</p>
        </div>
        <a href="{{ path('app_posts') }}" class="btn btn-success">Back to posts</a>
        {{ form_start(postForm) }}
            {{ include("post/_form.html.twig", {form: postForm}) }}
            {% if filtered_Artists is not empty and filtered_Categories is not empty %}
                <div class="btn-create d-flex justify-content-center">
                    <button class="btn btn-primary btn-post">Create post</button>
                </div>
            {% else %}
            <div class="text-center">
                <p class="text-light">You need to create at least one ARTIST and one CATEGORY to create a post !</p>
            </div>
            {% endif %}
        {{ form_end(postForm, {render_rest: false}) }}
    </div>
{% endblock %}
