{# templates/post/create.html.twig #}

{% extends 'layout.html.twig' %}

{% block header_title %}
    <h1>Create a new post</h1>
{% endblock %}

{% block container %}
    <div class="create-post">
        {{ form_start(postForm) }}
            {{ include("post/_form.html.twig", {form: postForm}) }}
            <div class="btn-create d-flex justify-content-center">
                <button class="btn btn-primary btn-post">Create post</button>
            </div>
        {{ form_end(postForm, {render_rest: false}) }}
    </div>
{% endblock %}
