{% extends 'layout.html.twig' %}
{# HOMEPAGE that displays all the posts #}

{% block container %}
    {# POSTS SECTION #}
    <div class="col-xs-auto ml-sm-auto col-md-auto col-lg-auto">
        <div class="post-width">
            <div class="d-flex flex-row flex-wrap">
                {% include "post/_posts.html.twig" with {'posts': posts} %}
            </div>
            <button class="load btn btn-secondary" href="#">Afficher Plus</button>
        </div>
    </div>
    {# END OF POSTS SECTION #}
{% endblock %}
